<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo App</title>
        <!--Documentation for Semantic UI stylesheet here https://semantic-ui.com/introduction/getting-started.html-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="..//script.js"></script>
    </head>
    <body>

        <div style="margin-top: 30px;" class="ui container">

        <div class="ui message" style="right: 1%; position:absolute; padding-right:1%;">
            <div class="content" style="justify-content: center; align-items: center; display:flex;">
                <i class="user icon" style="top:20%; left:3%; position: absolute;"></i>
                <div class="ui sub header" style="justify-content: center; align-items: center; position: relative;">
                    {{ username }}
                </div>
            </div>
        </div>
        <div style="right: 2%; top:13%;position:absolute;">
            <span class="ui blue label">
                <a class="ui blue button"href="{{url_for('logout')}}">Logout</a>
            </span>
        </div>
        
        <h1 class="ui center aligned header">Todo App</h1>

        
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                {% if username=="Guest" %}
                <button class="ui teal button" onclick="" id="login">Login to Save your Todos</button>
                <div class="ui message" style="margin:15px;">
                    <a href="/register">Sign Up</a>
                    or continue
                    <a href="#">without an account</a>
                </div>
                {% else %}
                <button class="ui teal button" onclick="" id="login">Switch Users</button>

                {% endif %}
            </div>
        </div>

        
        <form class="ui form" action="/add" method="post">
            <div class="fields">
                <div class="six wide field">
                    <label for="title">Todo Title</label>
                    <input type="text" name="title" placeholder="Todo...">
                </div>
                <div class="four wide field">
                    <label for="description">Description</label>
                    <input type="text" name="description" placeholder="Description...">
                </div>
                <div class="two wide field">
                    <label for="due">Due Date</label>
                    <input type="text" name="due" placeholder="Due Date">
                </div>
                <br>
                <button class="ui blue button" type="submit">Add</button>
            </div> 
        </form>

        {% if username=="Guest" %}

            {% for todo in session['todos'] %}
            <div class="ui segment">
                <p class="ui huge header"> {{todo.title}} | Due on {{todo.due}}</p>
                <p class="ui small header">{{todo.description}}</p>
                <a class="ui button" style="margin-bottom: 1%;">See More</a>
                
    
                
                <form class = "ui form"action = "/due/{{ todo.id }}" method="post">
                    <div class="seven wide field" style="position: relative;">
                    <p style="display: flex;"><input type="text" name = "due"placeholder="Change Due Date" style="width: 100%; padding: 20px;"><button class="ui secondary button" style="margin-top: 1%; margin-bottom: 1%; position: absolute; right: 10px; top: 6px;"type="submit">Change Due Date</button></p>
                    
                    </div>
                </form>
    
                {% if todo.completed == False %}
                    <span class="ui gray label">Not Completed</span>
                {% else %}
                    <span class="ui green label">Completed</span>
                {% endif %}
                <a class="ui blue button" href="/update/{{ todo.id }}">Update Completed</a>
                <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
                
                
            </div>
            {% endfor %}

        {% else %}

        {% for todo in todo_list %}

        <div class="ui segment">
            <p class="ui huge header"> {{todo.title}} | Due on {{todo.due}}</p>
            <p class="ui small header">{{todo.description}}</p>
            <a class="ui button" style="margin-bottom: 1%;">See More</a>
            

            
            <form class = "ui form"action = "/due/{{ todo.id }}" method="post">
                <div class="seven wide field" style="position: relative;">
                <p style="display: flex;"><input type="text" name = "due"placeholder="Change Due Date" style="width: 100%; padding: 20px;"><button class="ui secondary button" style="margin-top: 1%; margin-bottom: 1%; position: absolute; right: 10px; top: 6px;"type="submit">Change Due Date</button></p>
                
                </div>
            </form>

            {% if todo.completed == False %}
                <span class="ui gray label">Not Completed</span>
            {% else %}
                <span class="ui green label">Completed</span>
            {% endif %}
            <a class="ui blue button" href="/update/{{ todo.id }}">Update Completed</a>
            <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
            
            
        </div>
        {% endfor %}

        {% endif %}
        </div>
    </body>
    <footer>
        <div class="ui footer">
            <h3 style="bottom:0%; left: 0; width:100%; background-color: lightcyan; padding: 8px; text-align: center; position: fixed">
                We encourage you to log in to ensure your todos save properly!
            </h4>
        </div>
    </footer>
</html>

<script text="text/javascript">
document.getElementById("login").onclick = () =>{
    location.href = "/login"
}
</script>